*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.obrazy{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  flex-wrap: wrap;
}

.obraz{
  margin: 0.5%;
  width: 300px;
  height: 350px;
  border: 20px solid green;
  background-color: green;
}

.cena{
  text-align: right;
}

img{
  width: 100%;
  border: 3px solid black;
  height: 60%;
}